node_modules/
public/
publc/cp/app.js
public/setup/app.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.sql
storage/
public/mix-manifest.json