// Body
$primary-color: #042C59;
$btn-hover: #043e8f;
$btn-border-hover: #042c59;
$btn-box-shadow: rgba(4, 44, 89, 0.5);
$btn-form-control-border: #ccc;

$app-blue-link-color: white;
$app-blue: $primary-color;
$app-blue-shadow: $primary-color;
$app-blue-darken: #626262;
$app-white: #fff;
//$app-background: #28282d;
$app-background: white;
$app-input-background: white;
$app-secondary-button-background: white;
$app-strip-color: #222;
